body {
  width: 100vw;
  height: 100vh;
}

#map {
  max-width: 95%;
  max-height: 95%;
  margin: auto;
}

path,
circle {
  stroke: rgb(122, 122, 122);
}

path {
  fill: rgb(231, 231, 231);
}

.small-country-circle {
  fill: rgba(231, 231, 231, .2);
}

path:hover,
.small-country-circle:hover {
  fill: rgb(134, 134, 212);
  stroke: rgb(71, 71, 134);
  z-index: 99
}

.flashing {
  fill: red;
  animation: flashRed 1s; /* Apply the animation */
  z-index: 99;
}

/* Define the @keyframes animation */
/* add slight scaling up */
@keyframes flashRed {
  0%,
  50% {
    fill: red; /* Start with red */
    
  }
  100% {
   fill: orange; /* End with orange */
  }
}

.guide-circle {
  fill: rgba(200, 0, 0, .1)
}
