body {
  width: 100vw;
  height: 100vh;
}

#map {
  max-width: 95%;
  max-height: 95%;
  margin: auto;
}


path, circle  {
   fill: rgb(231, 231, 231);
   stroke: rgb(122, 122, 122);
}

path:hover, circle:hover {
   fill: rgb(134, 134, 212);
 }