body,
html {
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  color: #333;
}

#map {
  width: 100%;
  height: 100%;
}

#map-wrapper {
  width: 90vw;
  height: auto;
  max-height: 70vh;
  position: relative;
}

path,
circle {
  stroke: rgb(122, 122, 122);
  cursor: crosshair;
}

path {
  fill: rgb(231, 231, 231);
}

.small-country-circle {
  fill: rgba(231, 231, 231, 0.2);
}

path:hover,
.small-country-circle:hover {
  fill: rgb(134, 134, 212) !important;
  stroke: rgb(71, 71, 134);
  z-index: 99;
}

.flashing {
  fill: red;
  animation: flashRed 1s; /* Apply the animation */
  z-index: 99;
}

/* Define the @keyframes animation */
/* add slight scaling up */
@keyframes flashRed {
  0%,
  50% {
    fill: red; /* Start with red */
  }
  100% {
    fill: orange; /* End with orange */
  }
}

.guide-circle {
  fill: rgba(200, 0, 0, 0.1);
}

.inset {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}

.justify-center {
  justify-content: center;
}

.gap {
  gap: 12px;
}

button {
  border-radius: 8px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 3px 3px 4px #d3d3d3, -2px -2px 4px #ededed;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 14px;
  color: #333;
}

button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 5px #dedede, -5px -5px 5px #e2e2e2;
}

.display {
  font-family: "Martian Mono", monospace;
}

#challengeCountry {
  min-width: min(70vw, 800px);
}

/* Keyframes for the animation */
@keyframes fadeToLighterGreen {
  0% {
    fill: #064d06;
  } /* Dark green color (adjust hex code as needed) */
  100% {
    fill: #6bb66b;
  } /* Lighter green color (adjust hex code as needed) */
}

/* CSS class .correct with animation */
.correct {
  fill: #56b156; /* Dark green color (adjust hex code as needed) */
  stroke: rgb(63, 121, 63);
  animation: fadeToLighterGreen 1s forwards; /* Animation properties: 1s duration, forwards to stay at the final color */
}

@keyframes fadeToLighterRed {
  0% {
    fill: #bb0606;
  } /* Dark red color (adjust hex code as needed) */
  100% {
    fill: #e48f8f;
  } /* Lighter red color (adjust hex code as needed) */
}

.incorrect {
  fill: #bb0606; /* Dark red color (adjust hex code as needed) */
  animation: fadeToLighterRed 1s forwards; /* Animation properties: 1s duration, forwards to stay at the final color */
  stroke: rgb(124, 52, 52);
}

@keyframes fadeFromBlue {
  0% {
    fill: rgb(134, 134, 212);
  } /* Blue color (adjust hex code as needed) */
  100% {
    fill: rgb(231, 231, 231);
  }
}

.selected {
  fill: rgb(134, 134, 212); /* Blue color (adjust hex code as needed) */
  animation: fadeFromBlue 2s forwards; /* Animation properties: 1s duration, forwards to stay at the final color */
}

#zoom-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: column;
}

.led {
  border-radius: 50%;
  min-height: 20px;
  height: 20px;
  min-width: 20px;
  width: 20px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px rgba(56, 56, 56, 0.4), inset -5px -5px 10px rgba(255, 255, 255, 0.4);
}

#feedback {
  min-width: 300px;
}

.previouslyCorrect {
  /* fill: rgb(187, 250, 187); */
  fill: rgb(86, 177, 86, .2);
}

.previouslyIncorrect {
  /* fill: rgb(255, 198, 160); */
  fill: rgb(187, 6, 6, .2)
}